:root {
    --container-bg-color: #333;
    --left-bg-color: rgba(255, 196, 0, 0.678);
    --left-button-hover-color: rgba(6, 235, 101, 0.3);
    --right-bg-color: rgba(6, 235, 101, 0.3);
    --right-button-hover-color: rgba(255, 196, 0, 0.678);
    --hover-width: 75%;
    --other-width: 25%;
    --speed: 1000ms;
  }
  
  html, body {
    padding:0;
    margin:0;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
    /* overflow-x: hidden; */
  }
  

  
  .split.left .button:hover {
    background-color: var(--left-button-hover-color);
    border-color: var(--left-button-hover-color);
  }
  
  .split.right .button:hover {
    background-color: var(--right-button-hover-color);
    border-color: var(--right-button-hover-color);
  }
  
  .header{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position:fixed;
      left:0;
      right:0;
      top:0;
      height: 60px;
      width: 100%;
      padding-top: 10px;
      background-color: rgba(255, 255, 255, 0.87);
      overflow: hidden;
      z-index: 200;
  }
  .kativirag{
      height:40px;
      float: left;
      margin-left: 10px;
      color:green;
  }
  .zoldmuves{
    height:40px;
    float: right;
    margin-right: 10px;
}
  .container {
      display: flex;;
      flex-direction: row;
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--container-bg-color);
    
  }

  h1 {
    font-size: 4rem;
    color: #fff;
    z-index: 100;
    margin-top: 100px;
    font-family: 'Unica One', sans-serif;
  }
.title{
    font-size: 1.3rem;
}
  .kati{
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      z-index: 100;
 
  }
  .pisti{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    z-index: 100;

}
  .quote{
      display: flex;
      flex-direction: row;
      background-color: rgba(255, 255, 255, 0.719);
      border: 0;
      border-radius: 15px;
      margin: 30px;
  }

  .profile-image{
      display: flex;
      vertical-align: center;
      padding: 5%;
  }
  .image{
      width: 150px;
      border: 5px solid #fff;
      border-radius: 50%;
      margin: auto;
      z-index: 198;
  }

  .desc-kati{
      text-align: justify;
      width: 80%;
      color: #000;
      z-index: 100;
      margin:1% 5% 1% 5%;
  }
  
  .quote-right{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .signo-kati{
      height: 80px;
      z-index: 9999;
  }
  .signo-istvan{
    height: 80px;
    z-index: 9999;
}
  .button {
    display: block;
    z-index: 100;
    height: 2.5rem;
    padding-top: 1.3rem;
    width: 21rem;
    text-align: center;
    color: #fff;
    border: #fff solid 0.2rem;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 5%;
  }

  .split {
    position: absolute;
    width: 50%;
    height: 100%;

  }

  .split.left {
    left:0;
    background: url('./assets/kativirag_bicske.jpg') center center no-repeat;
    background-size: cover;
  }
  
  .split.left:before {
    position:absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--left-bg-color);

  }
  
  .split.right {
    right:0;
    background: url('./assets/zoldmuves_bicske.jpg') center center no-repeat;
    background-size: cover;
  }
  
  .split.right:before {
    position:absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--right-bg-color);
  }
  .overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, .3); 
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity:1;
    z-index: 199;
   
  }
  
  .split.left:hover .overlay {
    opacity: 0;
  }
  .split.right:hover .overlay {
    opacity: 0;
  }
 
  .split.left, .split.right, .split.right:before, .split.left:before {
    transition: var(--speed) all ease-in-out;
  }

    
  @media(max-width: 1200px) {
    html, body {
        padding:0;
        margin:0;
        font-family: 'Montserrat', sans-serif;

      }
      .overlay{
          opacity: 0;
      }
      .header{
          width: 100vw;
      }
    .container {
        display: flex;;
        flex-direction: column;
    }
    .quote{
        display: flex;
        flex-direction: column;
    }
    h1 {
      font-size: 2rem;
    }
  
    .button {
      width: 12rem;
    }
    .desc-kati{
        text-align: center;
    }
    .image{
        width: 80px;
        border: 5px solid #fff;
        border-radius: 75px;
        margin: auto;
        z-index: 999999;
    }
    .split {
        display: block;
        position: relative;
        width: 100%;
        height: auto;
      }
  }
 